# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release













# Dart & Flutter related files
.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
flutter_*.iml

# Dependency and configuration files
pubspec.lock
# If you're using Android Studio/IntelliJ
*.iml
.gradle/
local.properties

# iOS files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/DerivedData/

# Android files
android/.gradle/
android/app/app.iml
android/local.properties
android/app/build/
android/.idea/
android/gradle/

# Linux and Windows build files
windows/
linux/

# macOS files
*.DS_Store
*.flutter-plugins
*.flutter-plugins-dependencies

# Sensitive environment or config files
.env

